.form-container{
    padding: 10rem 0;
    background-image: linear-gradient(to right bottom, black, red);
}

.form-field{
    background-image: linear-gradient(105deg, rgba(white, 0.9) 0%, rgba(white, 0.9) 50%, transparent 50%), url("https://resources.pulse.icc-cricket.com/ICC/photo/2017/01/30/44780aa2-2b6d-4048-897c-6606762b3d38/GettyImages-463485384_Cropped.jpg");
    background-size: 100%;
    box-shadow: 0 1.5 4rem rgba(black, .2);
    border-radius: 3px;
    height: 28rem;
    margin-left: 100px;
    margin-right: 100px;
}

.form_group{
    margin-top: 10px;
}